
@font-face {
  font-family: 'M20_SP-RANKER';
  src: url('M20_SP-RANKER.eot?#iefix') format('embedded-opentype'),  url('M20_SP-RANKER.woff') format('woff'), url('M20_SP-RANKER.ttf')  format('truetype'), url('M20_SP-RANKER.svg#M20_SP-RANKER') format('svg');
  font-weight: normal;
  font-style: normal;
}
